{% extends '/ui/layout.twig' %}

{% block content %}
    <h3 class="mt-3">Les tuiles de carte</h3>

    <a href="/map/create" class="btn btn-sm btn-primary mb-3">Ajouter</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Position</th>
                <th scope="col">Enemie</th>
                <th scope="col">Magasin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.typeLabel }}</td>
                    <td>({{ item.position_x }}, {{ item.position_y }})</td>
                    <td>{{ item.enemy_id }}</td>
                    <td>{{ item.store_id }}</td>
                    <td>
                        <a href="/map/{{ item.id|e('html_attr') }}/" class="btn btn-sm btn-secondary">Editer</a>
                        <button data-item-id="{{ item.id|e('html_attr') }}" class="btn-item-delete btn btn-sm btn-danger">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(
            function() {
                $('.btn-item-delete').on('click', function(event) {
                    event.preventDefault();

                    if (!confirm('Êtes-vous certain de vouloir supprimer cette ligne ?')) {
                        return;
                    }

                    var $this = $(this),
                        itemId = parseInt($this.attr('data-item-id'));

                    $.ajax({
                        url: '/api/map/' + itemId + '/delete',
                        method: 'DELETE',
                        data: {},
                        dataType: 'JSON',
                        success: function() {
                            window.location.reload();
                        },
                        error: function() {
                            console.error('Une erreur est survenu');
                        }
                    })
                })
            }
        )
    </script>
{% endblock %}

